@keyframes movingOff{
    from{
        transform: translateX(0%);
    }to{
        transform: translateX(-100%);
    }
}@keyframes movingOn{
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0%);
    }
}
div.carousel-item{
    margin-top: 12%;
}
div.carousel-item > img{
    max-width: 100%;
    display: none;
}
div.selected > img{
    display: block;
}
.movingOff{
    animation: movingOff 1s;
    transform: translateX(-100%);
}
/* If off screen use the ".dn" class from style.css */
.movingOn{
    transform: translateX(100%);
    display: block;
    animation: movingOn 1s;
    transform: translateX(0%)
}