@keyframes movingOff{
    from{
        transform: translateX(0%);
    }to{
        transform: translateX(-100%);
    }
}@keyframes movingOn{
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0%);
    }
}
div.carousel-item{
    margin-top: 12%;
}
div.carousel-item > img{
    max-width: 100%;
    display: none;
}
div.selected > img{
    display: block;
}
.movingOff{
    animation: movingOff 1s;
    transform: translateX(-100%);
}
/* If off screen use the ".dn" class from style.css */
.movingOn{
    transform: translateX(100%);
    display: block;
    animation: movingOn 1s;
    transform: translateX(0%)
}
.carousel-item.selected{
    margin: 0;
}

#pricingChart{
    width: 100%;
    margin-bottom: 7vh;
}
#blurb{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
#blurb > p{
    width: 70%;
}
#customOrderTitle{
    margin-bottom: 3vh;
}
#customOrderButton{
    padding: 1%;
    margin-bottom: 5%;
    background-color: #ED1F50;
    font-size: 130%;
    border: none;
}
#customOrderButton > a{
    text-decoration: none;
    color: white;
}
#customOrderText{
    margin-bottom: 3vh;
    width: 70%;
}
#links > li > a{
    text-decoration: none;
    color: black;
}